.container {
  min-height: max-content;
  position: relative;
}

p {
  width: 95%;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.navbar-nav li a:hover {
  color: #1abc9c !important;
}

.post-length {
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.not-found {
  font-size: 4rem;
  text-align: center;
  width: max-content;
  margin-inline: auto;
  margin-top: 20vh;
}
.not-found h1 {
  font-size: 6rem;
}

.footer-padding {
  padding-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
  background-color: #1abc9c;
}

.footer p {
  margin-top: 25px;
  font-size: 12px;
  color: #fff;
}

#logout {
  position: absolute;
  top: 25px;
  right: 20px;
}
#logout button {
  box-sizing: border-box;
  border: 2px solid #bbbaba;
  border-radius: 8px;
  text-align: center;
  padding: 4px 8px;
  background-color: transparent;
}
#logout button:hover {
  border-color: #8aebd7;
  color: #18aa8d !important;
}
